/* Ustawienia og肇ne paska przewijania */
::-webkit-scrollbar {
    width: 5px;
}

/* Ustawienia dla 랇edzia przewijania */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Ustawienia dla t쓰 paska przewijania */
::-webkit-scrollbar-track {
    background: #222;
}

/* Resetowanie styl칩w */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Og칩lne style */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-image: url("https://images7.alphacoders.com/853/853419.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    background-color: #3e3e3e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    .btn:hover {
    background-color: #2c2c2c;
    }

    .form-group {
        margin-bottom: 20px;
        }
        .form-group label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        }
        .form-group input[type="text"],
        .form-group input[type="number"],
        .form-group input[type="email"],
        .form-group input[type="tel"],
        .form-group textarea {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #f4f4f4;
        color: #444;
        font-size: 16px;
        font-family: inherit;
        transition: background-color 0.3s ease;
        }
        .form-group input[type="text"]:focus,
        .form-group input[type="number"]:focus,
        .form-group input[type="email"]:focus,
        .form-group input[type="tel"]:focus,
        .form-group textarea:focus {
        background-color: #fff;
        }

        /* pola do zaznaczania */
input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  /* stylowanie tekstu na p칩lach do zaznaczania */
  label {
    color: #fff;
    font-size: 1.2em;
    margin-right: 20px;
  }

/* Header */
header {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('header-bg.jpg') no-repeat center center/cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 96px;
    height: 96px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 36px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin: 0 15px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #7289da;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #5b6eae;
}

/* Main */
main {
    padding: 100px 0;
}

section {
    text-align: center;
    margin-bottom: 100px;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 24px;
    margin-bottom: 30px;
}

ul {
    margin-bottom: 30px;
}

/* Footer */
footer {
    background-color: #1f2023;
    padding: 50px 0;
}

footer p {
    margin-bottom: 20px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    margin: 0 15px;
}

/* Responsywno콑캖 */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1f2023;
        padding: 20px;
        text-align: center;
    }

    ul